body {
  color: #414141;
  font-family: 'PT Serif', serif;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.6;
}

h1 {
  font-family: 'Cinzel', serif;
  font-weight: 900;
  font-size: 6rem;
  color: black;
  margin-bottom: 1rem;
  line-height: 0.9;
}

header {
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
}

.container {
  width: 90%;
  max-width: 39rem;
  margin: 0 auto;
}

.subtitle {
  color: #7D7D7D;
  font-size: 2.25rem;
  margin: 0 auto 5rem;
  width: 75%;
  line-height: 1.2;
}

a {
  color: #CA5E10;
}

.lead {
  font-size: 1.3125rem;
}